@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --main-bg-color: white;
    --second-bg-color: #606167;
    --body-font: 'Poppins', sans-serif;
    --text-color-primary: #262626;
    --text-color-secondary: #d5d5d5;
    --link-color: #F05454;
    --link-hover-color: #C61600;
    --link-press-color: #A01200;
    --photo-border: rgba(0, 0, 0, .5);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    background-color: var(--main-bg-color);
    color: var(--text-color-primary);
}

body.dark {
    --main-bg-color: #262626;
    --second-bg-color: #313132; /*#b0adfad;*/
    --text-color-primary: white;
    --text-color-secondary: #eee5e5;
    --photo-border: rgba(255, 255, 255, 0.50);
}

footer {
    background-color: var(--second-bg-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navbar {
    background-color: var(--second-bg-color);
    color: white;
    padding: 1rem;
}

.nav-item {
    padding-left: 4rem;
    padding-right: 4rem;
}

.nav-link, #change_theme {
    color: var(--text-color-secondary);
}

.nav-link:hover, #change_theme:hover {
    color: var(--text-color-primary);
    cursor: pointer;
}

a:link {
    text-decoration: none
}

.btn_custom {
    border-color: var(--link-color);
    background-color: var(--link-color);
}

.btn_custom:hover {
    border-color: var(--link-hover-color);
    background-color: var(--link-hover-color);
}

.btn-primary:not(:disabled):not(.disabled):active {
    border-color: var(--link-press-color);
    background-color: var(--link-press-color);
}

#change_theme { 
    align-self: center;
    justify-self: end;
}

.mycontainer {
    padding-top: 2rem;
}

.my-4, .mycontainer {
    max-width: 60%; 
}
  
.namecard {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

.name {
    white-space: nowrap;
}

.myphoto {
    border-radius: 50%;
    border: 3px solid var(--photo-border);
}

.sectiontitle, .social, .contactform {
    padding-bottom: 2.5rem;
}

.skill_title {
    padding-top: 1rem;
    padding-bottom: 1rem;  
}

.skill_title > .svg-inline--fa {
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

.skills_arrow {
    transition: .4s;
}

.skill_close .skill_list {
    height: 0;
    overflow: hidden;
}

.skill_open .skill_list {
    height: max-content;
}

.skill_list {
    margin-bottom: 2.5rem;
}

.skill_point {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill_point_title, .skill_perc {
    vertical-align: middle;
    font-size: 1rem;
    white-space: nowrap; 
}

.skill_bar {
    height: 5px;
    border-radius: .25rem;
    background-color: var(--link-hover-color);
}

.skill_level {
    height: 5px;
    display: block;
    background-color: var(--text-color-primary);
}



.social a {
    font-size: 2rem;
    padding: 2rem;
}

.fa-linkedin {
    color: #0a66c2;
}
.fa-twitter {
    color: #00aced;
}
.fa-instagram {
    color: #517fa4;
}
.fa-github {
    color: var(--text-color-primary);
}
.fa-linkedin:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-github:hover {
  color: var(--color-secondary);
}

.col-form-label, .form-control {
    white-space: nowrap;
}

.col-form-label {
    padding-left: 0;
}

#download_cv, #send_message {
    display: block;
    margin: 0 auto;
}

@media (min-width: 768px) { 
    .social a {
        font-size: 3rem;
        padding: 3rem;
    }
}


@media (min-width: 992px) { 
    .name {
        text-align: right;
    }
    .col-form-label {
        text-align: right;
    }
 }